*.netrwhist
*.swp
.netrwhist
.CFUserTextEncoding
.DS_Store
.Trash/
.anaconda/
.bash_history
.bash_profile
.bash_profile-anaconda2.bak
.bash_profile-anaconda3.bak
.bash_profile.pysave
.bash_sessions/
.boto
.chunkwmrc
.conda/
.condarc
.config/
.cups/
.eclipse/
.gem/
.gsutil/
.ipython/
.jupyter/
.keras/
.kube/
.lesshst
.local/
.matplotlib/
.netrc
.node-gyp/
.npm/
.oracle_jre_usage/
.python_history
.ssh/
.tooling/
Applications/
Bill/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
anaconda2/
anaconda3/
billyang@aries.cs.utexas.edu
bin/
bobfs.cc
get-pip.py
latexfile.tex
school
work
